html {
  font-family: Verdana, sans-serif;
}

body {
  background-image: url("../images/sloth-bg.svg");
  background-size: 48px auto;
  background-color: #bea586;
}

h1 {
  font-family: Georgia, serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 3px 3px #000;
  top: 3%;
  left: 2.5%;
}

p,
figcaption {
  padding: 0 .7rem;
}

a {
  color: #000;
}

.content {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

.sloth-img {
  border-top: 2px solid rgb(123, 114, 107);
  border-bottom: 2px solid rgb(123, 114, 107);
  padding: .18rem 0;
}

.banner {
  background-size: 100% 20%, cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(28, 14, 0, .75), rgba(28, 14, 0, 0)), url("../images/banner.jpg");
}

.caption {
  font-family: Georgia, serif;
}
